.menu{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightseagreen;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: none;
    border-radius: 25px;
}

.bttn{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 25px;
    transition: 0.6s;
    padding: 10px;
}

.bttn:hover{
    background-color: white;
    color: lightseagreen;
}

.content{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    height:auto;
    flex-direction: row;
    justify-content: space-around;
    background-color: gainsboro;
    border: none;
    border-radius: 25px;
}