
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'echos.css' %}">
  <title>Document</title>
</head>
  <h1>Echos</h1>
  <a href="{% url 'login' %}">Login</a>
  <a href="{% url 'logout' %}">Logout</a>
  <a href="{% url 'signup' %}">Sign up</a>
  <a href="{% url 'echos:add' %}">Añadir</a>
  {% block content %}
  {% if user.is_authenticated %}
  <h2>Hola, {{user.username}}</h2>
  {% endif%}
    {% for echo in echos %}
    <echo>
      <div class="datetime_info">
          <p>Updated at{{ echo.updated_at }}</p> 
          <p>Posted at {{ echo.created_at }}</p>
      </div>
      <p>{{ echo.content }}</p>
      <p>by {{ echo.user }}</p>
      {% if echo.user.id == user.id %}
        <a href={% url 'echos:delete' echo.id %}>Borrar</a>
        <a href={% url 'echos:edit' echo.id %}>Editar</a>
      {% else %}
       <p>Hola</p>
      {% endif %}
    </echo>
    {% endfor %}
  {% endblock content %}
</html>