<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Estás en Echos, rey</h1>
  {% block content %}
    {% for echo in echos %}
    <echo>
      <div class="datetime_info">
        <p>{{ echo.created_at }}</p>
        <p>{{ echo.updated_at }}</p>
      </div>
      <p>{{ echo.content }}</p>
      <p>by {{ echo.user }}</p>
    </echo>
    {% endfor %}
  {% endblock content %}
</body>
</html>