
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'echos.css' %}">
  <title>Document</title>
</head>
<body>
  <nav>
    <h1>Echos</h1>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'signup' %}">Sign up</a>
    <a href="{% url 'echos:add' %}">Añadir</a>
  </nav>

  {% if user.is_authenticated %}
    <h2>Hola, {{user.username}}</h2>
  {% endif%}
  {% block content %}
  <content>
    {% for echo in echos %}
    <echo>
      <div class="datetime_info">
          <p>Updated at{{ echo.updated_at }}</p> 
          <p>Posted at {{ echo.created_at }}</p>
      </div>
      <h3>{{ echo.content }}</h3>
      <p>by {{ echo.user }}</p>
      {% if echo.user.id == user.id %}
      <menu>
        <a href="{% url 'echos:delete' echo.id %}">🗑</a>
        <a href="{% url 'echos:edit' echo.id %}">✎</a>
      </menu>
      {% endif %}
      <a href="{% url 'waves:add' echo.id %}">Añadir un wave</a>
      <details>
        <summary>Waves</summary>
          {% for wave in waves %}
            <ul>
              <li>{{ wave.content }} </li>
            </ul>
          {% endfor %}
      </details>
    </echo>
    {% endfor %}
  </content>
  {% endblock content %}
</body>
</html>