{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href={% static 'tasks/logo.png' %}>
    <link rel="stylesheet" href="{% static 'tasks/forms.css' %}">
    <title>Añadir tarea</title>
  </head>
{% block body %}
  <h2>Añadir nueva tarea</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Añadir tarea">
      <a href="{% url 'tasks:task-list' %}">Cancelar</a>
    </form>
  {% endblock body %}
</html>