body{
    align-items: center;
    justify-content: center;
}

.product{
    color: white;
    padding: 50px;
    border: none;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: black;
}

.bttn{
    border: white;
    border-radius: 25px;
    padding: 5px;
}