{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Principal</title>
  <link rel="stylesheet" href="{% static 'justdoit/home.css' %}">
  <link rel="shortcut icon" href="{% static 'assets/logo.png' %}">
</head>
{% block body %}
  <div class="content welcome">
    <img width="10%" height="10%" src="{% static 'assets/logo.png' %}">
    <h1>JUST DO IT</h1>
    <h3>Te doy la bienvenida a Just Do It, mi humilde primer proyecto en Django</h3>
    <img src="{% static 'assets/django.png' %}">
    <p>(Además de tu nueva aplicación web de tareas favortia (espero))</p>
  </div>
  <div class="content app_info">
    <h1>Pero...¿Para qué sirve exactamente Just Do It?</h1>
    <img src="{% static 'assets/thinking.gif' %}">
    <p>Muy posiblemente te estés preguntando cuál es la función de esta web.</p>
    <p>Just Do It se trata, básicamente de una web de gestión de tareas.</p>
    <p>Los ejemplos hacen que las cosas sean más fáciles de comprender, así que pongamos uno:
    Imagina que tienes que hacer un trabajo para clase. Hasta ahí todo bien, ¿no?.
    Bueno, estás tranquilamente haciendo el trabajo y, de repente, recuerdas que tienes que ir a comprar.
    Y no solo eso, sino que también debes ir a lavar el coche y a recoger un paquete a la oficina de correos.
    Poco a poco, las tareas se van acumulando, y muchas veces es complicado recordar todo lo que tienes que hacer
    Y aquí es donde entra Just Do It, donde podrás anotar todas tus tareas pendientes, puediendo comprobar su estado, fecha
    y detalles.</p>
    <p>De esta forma, podrás organizarte mejor, y recordar todo lo que tienes que hacer fácilmente y desde el móvil.</p>
  </div>
  <div class="content app_access">
    <h1>Ahora que ya conoces Just Do It, ¡Mira la lista de tareas!</h1>
    <a class="app_access_btn" href="{% url 'justdoit:task_list' %}" target="_blank">Tareas</a>
  </div>
{% endblock body %}
