{% extends "base.html" %}

  {% block content %}
  <content>
    <a href="{% url 'echos:add' %}"><i class="bi bi-chat-dots"></i></a>
    {% for echo in echos %}
      <echo>
        <div class="datetime_info">
          <p>Updated at{{ echo.updated_at }}</p> 
          <p>Posted at {{ echo.created_at }}</p>
        </div>
          <h3>{{ echo.content }}</h3>
          <p>by <a href={% url 'users:user_echos' echo.user.id %} >{{ echo.user }}</a></p>
        <menu>
          <a href="{% url 'echos:detail' echo.id %}" target="_blank"><i class="bi bi-info-circle"></i></a>
          {% if echo.user.id == user.id %}
            <a href="{% url 'echos:delete' echo.id %}"><i class="bi bi-trash"></i></a>
            <a href="{% url 'echos:edit' echo.id %}"><i class="bi bi-pencil-square"></i></a>
          {% endif %}
        </menu>
      </echo>
    {% endfor %}
  </content>
  {% endblock content %}
