{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear tarea</title>
  <link rel="stylesheet" href="{% static 'justdoit/add_task.css' %}">
  <link rel="shortcut icon" href="{% static 'assets/logo.png' %}">
</head>
<body>
  <h1>Crear tarea</h1>
    <form method="post">
      {% csrf_token %}
      {{ form }}
        <label for="name">Nombre de la tarea</label>
        <br>
        <input type="text" id="name">
        <br>
        <label for="description">Descripción de la tarea</label>
        <br>
        <input type="text" id="description">
        <br>
        <input type="submit" value="Enviar">
    </form>
  </body>
</html>