.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.task_status {
  color: white;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 0px;
}

.pnd {
  background-color: #e74c3c;
}

.dn {
  background-color: #2ecc71;
}
