body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

.task {
  width: 40%;
  min-height: 180%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid burlywood;
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 10px;
  margin: 20px 20px;
}

.task_status {
  color: white;
  padding: 5px;
  border-radius: 15px;
}

.pnd {
  background-color: #e74c3c;
}

.dn {
  background-color: #2ecc71;
}

/* Enlace vuelta al home */

.back_home {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: orangered;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: 0.6s;
}

.back_home:hover {
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  border-color: orangered;
  color: orangered;
  background-color: beige;
}
